@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --background: #ffffff; 
  --foreground: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*/
@layer base {
  body {
    @apply font-secondary text-secondary leading-relaxed;
  }
  /* all header tag will have this attribute */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-primary;
  }
  .h1 {
    @apply text-[70px] xl:text-[150px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[56px] xl:text-[8px] leading-[1.2] font-bold;
  }
  .lead {
    @apply text-lg;
  }
  .btn {
    @apply min-w-[156px] h-[54px] px-6 bg-accent hover:bg-accent-hover text-primary text-[13px] uppercase font-semibold tracking-[.15em] transition-all;
  }
}
